%div#sticky-banner.top-announcement
  .hero-content
    %span.font-source-pro CI/CD Seeing is Believing
    %a{:href => "https://page.gitlab.com/what-makes-gitlab-cicd-different.html"} 
      %span.learn-more-cta Learn More
      %i.fas.fa-long-arrow-alt-right.fa-fw
  #dismiss-trial
    = partial "/images/icons/x-current-color.svg"

:sass
  #sticky-banner.top-announcement
    background: #380D75
    padding: 1rem 5rem 1rem 1.75rem
    position: sticky
    top: 58px
    min-height: 60px
    z-index: 101
    display: flex
    align-items: center
    justify-content: space-evenly
    .hero-content
      margin: 0
      text-align: center
      .font-source-pro
        font-size: 23px
    a
      color: #fff
      font-size: 14px
      font-weight: bold
    .learn-more-cta
      margin-left: 2rem
      display: inline-block
      text-decoration: underline

  #dismiss-trial
    width: 32px
    height: 32px
    line-height: 0;
    padding: 1rem
    cursor: pointer
    color: #fff
    position: absolute
    right: 12px

  @media all and (max-width: 542px)
    #sticky-banner 
      .hero-content
        text-align: left
      .learn-more-cta
        margin-left: 0
  
%script{src: "/javascripts/sticky-banner.js", type: "text/javascript"}
