---
layout: handbook-page-toc
title: Recruiting Performance Indicators
description: "This page is an overview of the performance indicators we use to meausre success of the recruiting team."
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

<%= performance_indicators('Recruiting') %>
